header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;

}
a{
    padding: 5px;
    text-decoration: none;
}

img{
    width: 10%;
}