header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-around;
    
}
a{
    padding: 5px;
    text-decoration: none;
}

img{
    width: 40%;
    margin-right: 0%;
}
h1{
    font-size: 40px;
    margin-right: 60px;
    padding: 50px;
}